[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
logzero = "*"
python-dotenv = "*"


[dev-packages]

nose = "*"
ipython = "*"
vcrpy-unittest = "*"
sphinx = "*"


[requires]

python_version = "3.6"